#button
{
    font-size: 30px;
}

#heading
{
    font-family: fantasy;
    font-size: 65px;
    color:aliceblue;
}

canvas
{
  border: dotted;
  border-color: rgb(231, 174, 255);  
  border-radius: 15px;
}

#ac_heading
{
    font-family: fantasy;
    font-size: 65px;
    color:aliceblue;
}